@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 240 50% 15%;
    --card-foreground: 240 67% 97%;
    --popover: 240 64% 10%;
    --popover-foreground: 240 67% 97%;
    --primary: 182 100% 74%;
    --primary-foreground: 240 64% 10%;
    --secondary: 240 50% 25%;
    --secondary-foreground: 182 100% 74%;
    --muted: 240 50% 20%;
    --muted-foreground: 240 20% 70%;
    --accent: 240 50% 25%;
    --accent-foreground: 182 100% 74%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 50% 25%;
    --input: 240 50% 20%;
    --ring: 182 100% 74%;
    --radius: 0.5rem;

    --chart-1: 182 100% 74%;
    --chart-2: 240 67% 97%;
    --chart-3: 240 50% 25%;
    --chart-4: 240 20% 70%;
    --chart-5: 240 50% 20%;
    
    --sidebar-background: 240 64% 8%;
    --sidebar-foreground: 240 67% 97%;
    --sidebar-primary: 182 100% 74%;
    --sidebar-primary-foreground: 240 64% 10%;
    --sidebar-accent: 240 50% 15%;
    --sidebar-accent-foreground: 182 100% 74%;
    --sidebar-border: 240 50% 25%;
    --sidebar-ring: 182 100% 74%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 240 50% 15%;
    --card-foreground: 240 67% 97%;
    --popover: 240 64% 10%;
    --popover-foreground: 240 67% 97%;
    --primary: 182 100% 74%;
    --primary-foreground: 240 64% 10%;
    --secondary: 240 50% 25%;
    --secondary-foreground: 182 100% 74%;
    --muted: 240 50% 20%;
    --muted-foreground: 240 20% 70%;
    --accent: 240 50% 25%;
    --accent-foreground: 182 100% 74%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 50% 25%;
    --input: 240 50% 20%;
    --ring: 182 100% 74%;

    --chart-1: 182 100% 74%;
    --chart-2: 240 67% 97%;
    --chart-3: 240 50% 25%;
    --chart-4: 240 20% 70%;
    --chart-5: 240 50% 20%;

    --sidebar-background: 240 64% 8%;
    --sidebar-foreground: 240 67% 97%;
    --sidebar-primary: 182 100% 74%;
    --sidebar-primary-foreground: 240 64% 10%;
    --sidebar-accent: 240 50% 15%;
    --sidebar-accent-foreground: 182 100% 74%;
    --sidebar-border: 240 50% 25%;
    --sidebar-ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
